{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "vue/multi-word-component-names": "on",
    "vue/no-multiple-template-root": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
